*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/* ---------------------------------------------------------- 
                    Chat - Room
 ---------------------------------------------------------- */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.chatArea{
    width: 600px;
    height: 400px;
    background-color: #fff;
    border: solid 0.5px #E7DCC6;
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
}

.chatArea h3{
    text-align: center;
    background-color: #FFB996;
    padding: 7px;
}

.messageArea{
    height: 322px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 30px;
}

#textarea{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}

.msg{
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 25px;
    max-width: 250px;
    position: relative;
}

.msg h4{
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}

.inbound-msg{
    background-color: #8F8BE8;
    color: #fff;
}

.outbound-msg{
    background-color: #e9eafd;
    color: #787878;
    margin-left: auto;
}

/* ---------------------------------------------------------- 
                    Sign - Up & Sign - In                    
 ---------------------------------------------------------- */


  .signup-container , .signin-container{
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    padding: 20px;
    text-align: center;
  }

  .signup-container h2 , .signin-container h2 {
    color: #333;
    padding: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .form-group button {
    background-color: #FE7A36;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .form-group button:hover {
    background-color: #fc6215;
  }

  .form-group p {
    margin: 10px 0;
    font-size: 14px;
    color: #888;
  }
